.apply-form-success {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none;
}

.apply-form-success__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,1,0.8);
  z-index: 10;
}

.apply-form-success__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44.9rem;
  padding: 6.4rem 0;
  text-align: center;
  z-index: 50;
  background: #ffffff;

  @include mob() {
    position: relative;
    width: 28.8rem;
    padding: 3.6rem 0;
  }
}

.apply-form-success__title {
  font-family: "CharterITC";
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 4rem;
  padding-bottom: 0.8rem;

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
}
.apply-form-success__text {
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 300;

  @include mob() {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

.apply-form-success__close {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 1.7rem;
  top: 1.7rem;
  cursor: pointer;
  z-index: 20;

  @include mob() {
    width: 1.7rem;
    height: 1.7rem;
    right: 1rem;
    top: 1rem;
  }

  svg {
    width: 100%;
  }
}
