.career-cases {
  position: relative;
  width: 100%;
  background: #f4f4f4;
  z-index: 20;
  padding-top: 2vh;
  padding-bottom: 80vh;

  @include mob() {
    height: auto;
    padding: 5.6vh 0 7.2vh 0;
  }
}
.career-cases__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;

  @include mob() {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 0 1.6rem;
    width: 27.1rem;
    list-style-type: none;

    @include mob() {
      margin-top: 1.6rem;
    }
  }
}
.career-cases__img {
  width: 17.6rem;
  margin: 0 auto;

  @include mob() {
    width: 12rem;
  }
}
.career-cases__text {
  font-family: 'CharterITC';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.5;
  text-align: center;

  @include mob() {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
.career-cases__button-box {
  padding-top: 4.8rem;
  text-align: center;
  opacity: 0;
  transition: all 0.4s ease;

  .button {
    min-width: 23.4rem;
  }

  .is-visible & {
    opacity: 1;
    transition-delay: 0.5s;

    @include mob() {
      transition-delay: 0s;
    }
  }

  @include mob() {
    padding-top: 3.2rem;
    opacity: 1;
  }
}
.career-cases__number {
  width: 3.6rem;
  margin: 0 auto 2rem auto;
  transition: all 0.4s ease;
  transform: scale(0.15);
  opacity: 0.25;

  @include mob() {
    width: 2.4rem;
    margin: 0 auto 1.5rem auto;
    opacity: 1;
    transform: scale(1);
  }

  svg {
    width: 100%;
  }

  .is-visible & {
    opacity: 1;
    transform: scale(1);
  }
}
.career-cases__text-box {
  max-width: 68rem;
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin: 0 auto;


  &--2 {
    @include mob() {
      height: 60vh;
      position: relative;
      z-index: 10;
    }
  }

  &--3 {
    height: 70vh;
  }

  @include mob() {
    height: auto;
    padding: 2rem 0;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
    transform: translate(0, 2rem);

    .is-mobile-animated & {
      opacity: 1;
      transform: translate(0, 0);
    }
    .is-mobile-animated &:nth-child(1) {
      transition-delay: 0.25s;
    }
    .is-mobile-animated &:nth-child(2) {
      transition-delay: 0.5s;
    }
    .is-mobile-animated &:nth-child(3) {
      transition-delay: 0.75s;
    }

  }
}
.career-cases__screen-title {
  font-size: 5.6rem;
  line-height: 6.4rem;
  background: linear-gradient(90deg, #94B2CD 9.61%, #476580 57.16%);
  font-family: 'CharterITC';
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  opacity: 0.05;
  transition: opacity 0.4s ease;
  margin: 0 auto;

  @include mob() {
    opacity: 1;
    font-size: 3.2rem;
    line-height: 3.6rem;
  }

  .is-visible & {
    opacity: 1;
  }
  &.is-animated {
    opacity: 1;
  }
}
.career-cases__screen-title2 {
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: #53718c;
  font-family: 'CharterITC';
  text-align: center;
  font-weight: 700;
  width: 100%;
  margin: 0 auto;
  opacity: 0.05;
  transition: opacity 0.4s ease;
  margin: 0 auto;

  @include mob() {
    font-size: 3.2rem;
    line-height: 3.6rem;
    padding: 0 2rem;
    opacity: 1;
  }

  .is-visible & {
    opacity: 1;
  }
  &.is-animated {
    opacity: 1;
  }
}
.career-cases__title {
  position: relative;
  width: 100%;
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: #333333;
  font-family: 'CharterITC';
  text-align: center;
  font-weight: 700;
  transition: all 0.4s ease;
  opacity: 0.05;
  padding-bottom: 12vh;

  @include mob() {
    position: relative;
    top: auto;
    left: auto;
    font-size: 2.8rem;
    line-height: 3.6rem;
    opacity: 0;
    transform: translate(0, 2rem);
    transition: all 0.8s ease;
    font-size: 3.2rem;
    line-height: 3.6rem;
    padding-bottom: 1.2rem;
  }

  &.is-visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  &.is-animated {
    opacity: 1;

    @include mob() {
      opacity: 1;
      transform: (0, 0);
    }
  }
}
.career-cases__content {
  /*position: fixed;
  width: 100%;
  max-width: 98rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  transition: all 0.6s ease;
  transition-delay: 0.2s;*/
  /*opacity: 0;*/
  opacity: 1;

  &.is-animated {
    opacity: 1;
    /*transform: translate(-50%, -35%);*/
  }
}
.career-cases__last {
  &.is-fixed {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66rem;

    @include mob() {
      width: 100%;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
    }
  }
}
.career-cases__out-box {
  transition: all 0.7s ease;

  &.is-out {
    transform: scale(0.9);

    @include mob() {
      transform: none;
    }
  }
}
