.intern-trends {
  position: relative;
  z-index: 50;
  background: #f4f4f4;
}
.intern-trends__wrapper {
  max-width: 118rem;
  width: 100%;
  position: relative;
  margin: 0 auto;
  height: 42rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-15rem);

  @include mob() {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5.6rem 0;
    height: auto;
    transform: none;
  }
}
.intern-trends__title {
  font-size: 5.6rem;
  color: #333333;
  line-height: 6.4rem;
  text-align: center;
  font-family: "CharterITC";
  font-weight: 700;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.6rem;

  }
}
.intern-trends__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 84rem;
  padding-top: 4.8rem;

  @include mob() {
    padding: 3.2rem 2rem 0 2rem;
    width: 100%;
  }

  li {
    height: 7.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #94B2CD;
    border-radius: 12px;
    font-family: "CharterITC";
    font-weight: 700;
    cursor: pointer;
    color: #333333;
    text-align: center;
    font-size: 3.2rem;
    line-height: 1;
    padding: 0 3.2rem;
    margin: 0 0.8rem 1.6rem 0.8rem;
    opacity: 0;
    transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.9s cubic-bezier(0.22, 1, 0.36, 1);
    transform: translate(0, 0);

    .is-visible & {
      opacity: 1;
      transform: translate(0, 0);
    }
    .is-visible &:nth-child(1) {
      transition-delay: 0s;
    }
    .is-visible &:nth-child(2) {
      transition-delay: 0.2s;
    }
    .is-visible &:nth-child(3) {
      transition-delay: 0.4s;
    }
    .is-visible &:nth-child(4) {
      transition-delay: 0.6s;
    }
    .is-visible &:nth-child(5) {
      transition-delay: 0.8s;
    }
    .is-visible &:nth-child(6) {
      transition-delay: 1s;
    }
    .is-visible &:nth-child(7) {
      transition-delay: 1.2s;
    }

    &:hover {
      background: #e3a89f;
      color: #ffffff;
    }

    @include mob() {
      height: 5.6rem;
      border-radius: 8px;
      padding: 0 1.6rem;
      font-size: 2rem;
      margin: 0 0.4rem 1.2rem 0.4rem;
    }
  }
}
.intern-trends__descr {
  font-size: 2rem;
  line-height: 3.2rem;
  padding-top: 4rem;
  width: 34.8rem;
  color: #757678;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);
  transition-delay: 1.5s;

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }

  @include mob() {
    padding-top: 1.6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
