.intern-join {
  position: relative;
  height: 75rem;
  background: linear-gradient(180deg, #FFFFFF 0%, #EDF4FC 98.39%);
  padding-top: 12.8rem;
  z-index: 50;

  @include mob() {
    padding: 5.6rem 0 8rem 0;
    height: auto;
  }
}
.intern-join__bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @include mob() {
    transform: translate(-5rem, 1.5rem);
  }
}
.intern-join__bg11 {
  width: 3.6rem;
  position: absolute;
  top: 9.6rem;
  left: 20.4rem;
  z-index: 20;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, -3rem);
  transition-delay: 0.6s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__bg12 {
  width: 14.8rem;
  position: absolute;
  top: 7rem;
  left: 12.6rem;
  z-index: 10;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 3rem);
  transition-delay: 0.6s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__bg21 {
  width: 30rem;
  position: absolute;
  top: 0rem;
  left: 5rem;
  z-index: 20;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, -3rem);
  transition-delay: 0.6s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__bg22 {
  width: 23.2rem;
  position: absolute;
  top: 3.2rem;
  left: 8.4rem;
  z-index: 10;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 3rem);
  transition-delay: 0.6s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__bg31 {
  width: 30rem;
  position: absolute;
  top: 0.7rem;
  left: 5rem;
  z-index: 20;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, -3rem);
  transition-delay: 0.6s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__bg32 {
  width: 21.7rem;
  position: absolute;
  top: 3.5rem;
  left: 9.7rem;
  z-index: 10;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 3rem);
  transition-delay: 0.6s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 130rem;
  margin: 0 auto;

  @include mob() {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  li {
    width: 40rem;
    height: 30rem;
    position: relative;
    list-style-type: none;
    padding-top: 12.8rem;
    flex-shrink: 0;

    @include mob() {
      width: 30rem;
    }
  }
}
.intern-join__title {
  font-size: 5.6rem;
  color: #333333;
  line-height: 6.4rem;
  text-align: center;
  font-family: "CharterITC";
  font-weight: 700;
  max-width: 72.8rem;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }

}
.intern-join__descr {
  padding-top: 0.8rem;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.4;
  color: #757678;
  width: 100%;
  max-width: 64.8rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 30;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);
  transition-delay: 0.3s;

  @include mob() {
    font-size: 2rem;
    line-height: 3.2rem;
    padding: 0.8rem 1.3rem 0 1.3rem;
  }

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__item-title {
  text-align: center;
  font-family: "CharterITC";
  font-weight: 700;
  width: 100%;
  font-size: 3.2rem;
  line-height: 4rem;
  position: relative;
  z-index: 30;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);
  transition-delay: 0.3s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-join__item-descr {
  text-align: center;
  font-weight: 300;
  padding-top: 0.8rem;
  font-size: 2rem;
  line-height: 1.6rem;
  color: #476580;
  position: relative;
  z-index: 30;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);
  transition-delay: 0.3s;

  .is-visible-2 & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
