.intern-way {
  background: #ffffff;
  height: 47.7rem;
  padding-top: 8rem;
  z-index: 60;
  position: relative;

  @include mob() {
    height: auto;
    padding-top: 4.8rem;
  }
}
.intern-way__title {
  font-size: 4rem;
  line-height: 1.2;
  color: #333333;
  text-align: center;
  font-family: "CharterITC";
  font-weight: 700;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-way__list {
  padding-top: 5.1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mob() {
    flex-direction: column;
  }

  li {
    margin: 0 3.2rem;
    width: 27.2rem;
    height: 22rem;
    position: relative;
    padding-top: 7.5rem;
    list-style-type: none;
    opacity: 0;
    transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
    transform: translate(0, 2rem);

    @include mob() {
      height: 14.8rem;
      padding-top: 4rem;
      margin-bottom: 4rem;
    }

    &:nth-child(1) {
      transition-delay: 0.75s;
    }
    &:nth-child(2) {
      transition-delay: 1s;
    }
    &:nth-child(3) {
      transition-delay: 1.25s;
    }
    &:nth-child(4) {
      transition-delay: 1.5s;
    }

    .is-visible & {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
}
.intern-way__list-item-number {
  width: 22rem;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  @include mob() {
    width: 14.8rem;
  }

  svg {
    width: 100%;
  }
}
.intern-way__item-title {
  font-size: 2.4rem;
  line-height: 3.2rem;
  color: #333333;
  text-align: center;
  font-family: "CharterITC";
  font-weight: 700;
  position: relative;
  z-index: 10;

  @include mob() {
    line-height: 2.8rem;
  }
}
.intern-way__item-descr {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  padding-top: 0.2rem;
  text-align: center;
  color: #757678;
  position: relative;
  z-index: 10;

  @include mob() {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.intern-way__top {
  position: absolute;
  bottom: 100%;
  margin-bottom: -1px;
  width: 100%;

  svg {
    width: 100%;
  }
}
.intern-way__bottom {
  position: absolute;
  top: 100%;
  margin-top: -1px;
  width: 100%;

  svg {
    width: 100%;
  }
}
