.intern-cta {
  position: relative;
  width: 100%;
  height: 64rem;
  z-index: 50;
  padding-top: 19.4rem;

  @include mob() {
    padding: 10.4rem 2rem 14.4rem 2rem;
    height: auto;
  }
}
.intern-cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;

  img {
    width: 100%;

    @include mob() {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
.intern-cta__title {
  text-align: center;
  font-family: "CharterITC";
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 6.4rem;
  color: #ffffff;
  position: relative;
  z-index: 10;
  max-width: 91.1rem;
  margin: 0 auto;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);

  @include mob() {
    font-size: 3.2rem;
    line-height: 4rem;

  }

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.intern-cta__button-box {
  padding-top: 4rem;
  text-align: center;
  position: relative;
  z-index: 10;
  opacity: 0;
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 2rem);
  transition-delay: 0.4s;

  .is-visible & {
    opacity: 1;
    transform: translate(0, 0);
  }

  @include mob() {
    padding-top: 2.4rem;
  }
}
.intern-cta__button {
  width: 24.3rem;

  @include mob() {
    width: 17.4rem;
  }
}
