.kv {
  position: relative;
  width: 100%;
  height: 225vh;
  z-index: 10;
  background: #000000;

  @include mob() {
    height: auto;
    padding-bottom: 13.5rem;
  }
}
.kv__wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;

  @include mob() {

  }


  &--2 {
    @include mob() {
      height: auto;
      max-height: none;
    }
  }
}
.kv__special-mobile-wrapper {
  @include mob() {
    height: 100vh;
    position: relative;
  }
}
.kv__fade-block {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 0;
  transition: all 0.3s ease;
}
.kv__bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;
  opacity: 0;
  transition: transform 2s ease, opacity 0.75s ease;
  transform: translate(0, -2rem) scale(1.02);
  transition-delay: 0.5s;

  &.is-animated  {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100%;
    width: 100%;
    object-fit: cover;

    @include mob() {
      top: 0;
      bottom: auto;
      object-fit: fill;
      height: 110%;
    }
  }

}
.kv__top {
  opacity: 0;
  transition: transform 1s ease-out, opacity 0.75s ease-out;
  transform: translate(0, -2.5rem);
  transition-delay: 0.5s;
  position: relative;
  z-index: 10;

  .is-animated & {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.kv__eye {
  position: absolute;
  top: 15.7vh;
  left: 50%;
  width: 63rem;
  opacity: 0;
  transition: transform 2s ease, opacity 0.75s ease;
  transform: translate(-50%, -2rem) scale(1.02);
  transition-delay: 0.5s;

  .is-animated & {
    opacity: 1;
    transform: translate(-50%, 0) scale(1);
  }

  img {
    width: 100%;
  }

  @include mob() {
    top: 5rem;
    width: 38rem;
  }
}
.kv__title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 5.8rem;
  line-height: 1.2;
  padding: 0 0 1.6rem 0;
  padding-top: calc(120px + 34rem);
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 3rem);
  transition-delay: 0.5s;

  .is-animated & {
    opacity: 1;
    transform: translate(0, 0);
  }

  @include mob() {
    font-size: 3.6rem;
    line-height: 4.4rem;
    padding: 22rem 2rem 0.4rem 2rem;
  }
}
.kv__column {
  position: relative;
  text-align: center;
  color: #ffffff;
  height: 100%;
  transition: transform 0.5s ease, opacity 0.3s ease;

  &.is-out {
    transform: scale(0.95);
  }
}
.kv__scroll-icon {
  width: 1.2rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  animation: scrollup 1.5s infinite;
}
@keyframes scrollup {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 0.3rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
.kv__text1 {
  padding: 16.8rem 0 1.2rem 0;
  font-size: 1.4rem;
  font-weight: 300;

  a {
    text-decoration: none;
    color: #ffffff;
  }

  @include mob() {
    font-size: 1.2rem;
    padding: 10rem 0 0.4rem 0;
  }
}
.kv__text2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;

  @include mob() {
    font-size: 2rem;
  }
}
.kv__descr {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.5;
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 4.4rem;
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(0, 3rem);
  transition-delay: 0.75s;

  .is-animated & {
    opacity: 1;
    transform: translate(0, 0);
  }

  &--wide {
    max-width: 58rem;
  }

  @include mob() {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}
.kv__button-box {
  text-align: center;

  &--intern {
    padding-top: 6.4rem;
  }
}
.kv__scroll {
  position: absolute;
  bottom: 4.8rem;
  font-size: 1.6rem;
  left: 50%;
  font-weight: 300;
  opacity: 0;
  transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
  transform: translate(-50%, 3rem);
  transition-delay: 1.5s;

  .is-animated & {
    opacity: 1;
    transform: translate(-50%, 0);

    @include mob() {
      transform: none;
      bottom: 5.8rem;
    }
  }

  @include mob() {
    font-size: 1.4rem;
    bottom: 4.8rem;
    width: 100%;
    transform: none;
    left: 0;
    text-align: center;
  }
}
.kv__main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mob() {
    width: 100%;
    padding: 0 1.3rem;
  }
}
.kv__list {
  display: flex;
  flex-wrap: wrap;
  max-width: 111rem;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding-top: 2.4rem;

  @include mob() {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  li {
    list-style-type: none;
    width: 30rem;
    position: relative;
    height: 22rem;
    opacity: 0;
    transition: transform 1.5s cubic-bezier(0.22, 1, 0.36, 1), opacity 0.75s ease;
    transform: translate(0, 3rem);
    transition-delay: 0.5s;

    &:nth-child(1) {
      @include mob() {
        margin-top: 0;
      }
    }

    &:nth-child(2) {
      margin-top: 2.8rem;

      @include mob() {
        margin-top: 4rem;
      }
    }
    &:nth-child(3) {
      margin-top: 5.6rem;

      @include mob() {
        margin-top: 3rem;
      }
    }

    @include mob() {
      height: 14.8rem;
      width: 27rem;
    }
  }
}

.kv__list.is-visible li:nth-child(1) {
  opacity: 1;
  transform: translate(0, 0);
  z-index: 20;

  @include mob() {
    transition-delay: 0.5s;
  }
}
.kv__list.is-visible li:nth-child(2) {
  opacity: 1;
  transform: translate(0, 0);

  @include mob() {
    transition-delay: 0.75s;
  }
}
.kv__list.is-visible li:nth-child(3) {
  opacity: 1;
  transform: translate(0, 0);

  @include mob() {
    transition-delay: 1s;
  }
}

.kv__list--2.is-visible li:nth-child(1) {
  @include mob() {
    transition-delay: 1.25s;
    margin-top: 3rem;
  }
}
.kv__list--2.is-visible li:nth-child(2) {
  @include mob() {
    transition-delay: 1.5s;
    margin-top: 3rem;
  }
}
.kv__list--2.is-visible li:nth-child(3) {
  @include mob() {
    transition-delay: 1.75s;
    margin-top: 3rem;
  }
}

.kv__list-item-number {
  width: 22rem;
  height: 22rem;
  margin: 0 auto;

  svg {
    width: 100%;
  }

  @include mob() {
    width: 14.8rem;
    height: 14.8rem;
  }
}
.kv__list-item-text {
  font-size: 2.2rem;
  line-height: 3.2rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
  font-family: "CharterITC";

  @include mob() {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}
.kv__intern-button {
  min-width: 23.4rem;
}
.kv__bg-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
