:root {
  /*font-size: 0.721vw;*/
  font-size: 11px;

  @media (max-width: 1600px) {
    font-size: 10px;
  }

  @media (max-width: 1400px) {
    font-size: 9px;
  }

  @include mob() {
    font-size: 2.65vw;
  }
}

*,
*::before,
*::after,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: inherit;
  // outline-color: $accent;
}


body {
  min-width: 320px;
  font-size: 1.6rem;
  line-height: 1.25;

  &.is-modal-opened {
    overflow: hidden;
    width: 100vw;
  }
}

img,
svg,
video,
iframe,
button {
  vertical-align: top;
}

button {
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
