@font-face {
  font-family: 'CharterITC';
  src: url('../../fonts/subset-CharterITC-Bold.woff2') format('woff2'),
  url('../../fonts/subset-CharterITC-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CharterITC';
  src: url('../../fonts/subset-CharterITC-Regular.woff2') format('woff2'),
  url('../../fonts/subset-CharterITC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/subset-RobotoCondensed-Regular.woff2') format('woff2'),
  url('../../fonts/subset-RobotoCondensed-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
  url('../../fonts/RobotoCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../fonts/RobotoCondensed-Light.woff2') format('woff2'),
  url('../../fonts/RobotoCondensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

