@mixin font-face($family, $name: $family, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($family);
    src: url("/assets/fonts/#{$name}.woff2") format("woff2"),
      url("/assets/fonts/#{$name}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
  }
}

@mixin centered($horizontal: true, $vertical: true) {
  position: absolute;
  @if ($horizontal and $vertical) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } @else if ($horizontal) {
    left: 50%;
    transform: translate(-50%, 0);
  } @else if ($vertical) {
    top: 50%;
    transform: translate(0, -50%);
  }
}

@function vw($values) {
  $vw: ();

  @each $value in $values {
    @if $value == 0 or $value == auto {
      $vw: append($vw, $value);
    } @else {
      $vw: append($vw, $value * .05208 + vw);
    }
  }

  @return $vw;
}

@mixin row($justify: null, $align: null) {
  display: flex;

  @if $justify and $justify != _ {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

@mixin column($justify: null, $align: null) {
  display: flex;
  flex-direction: column;

  @if $justify and $justify != _ {
    justify-content: $justify;
  }
  @if $align {
    align-items: $align;
  }
}

@mixin overlay($position: absolute) {
  position: $position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin button-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin mob {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin desktop-only {
  @include mob {
    display: none !important;
  }
}

@mixin mobile-only($value: block) {
  display: none !important;
  @include mob {
    display: $value !important;
  }
}

@mixin ie {
  @media (-ms-high-contrast: none) {
    @content;
  }
}
