.career-main {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: #476580;
  z-index: 100;
  min-height: 800px;
  transition: all 0.4s ease;

  &.is-660 {
    min-height: 660px;

    @include mob() {
      height: auto;
      min-height: 66.7rem;
    }
  }

  @include mob() {
    height: auto;
    min-height: 100rem;
  }
}
.career-main__pause {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.career-main__nav {
  position: absolute;
  top: 9.6rem;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 20;
  display: none;

  li {
    list-style-type: none;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1;
    margin: 0 2rem;
    cursor: pointer;
    position: relative;

    @include mob() {
      font-size: 2rem;
      margin: 0 1rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }

  .is-visible & {
    display: flex;
  }

  @include mob() {
    position: relative;
    top: auto;
    left: auto;
    padding-left: 0.3rem;
    width: 120vw;
    justify-content: flex-start;
  }
}
.career-main__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1.5s ease;

    &.is-active {
      opacity: 1;
    }
  }
}
.career-main__title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  color: #94b2cd;
  margin-right: 4.4rem;
}
.career-main__column {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  padding: 27.2vh 0 0 13rem;
  color: #ffffff;
  opacity: 0;

  @media(max-height: 800px) and (min-width: 769px) {
    padding: 7rem 0 0 13rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  @include mob() {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    padding: 4rem 0 0 0;
    text-align: center;
    display: none;

    &.is-active {
      display: block;
      opacity: 1;
      z-index: 10;
    }
  }

  &.is-active {
    opacity: 1;
    z-index: 10;
  }
}
.career-main__column--wide {
  width: 100%;
  text-align: center;
  padding-left: 0;
  align-items: center;
}

.career-main__item-title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 1;
  padding-bottom: 2rem;
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);

  .is-active > & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    font-size: 3.2rem;
    line-height: 3.6rem;
    padding-bottom: 1.6rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.career-main__quote {
  font-family: 'CharterITC';
  font-size: 2.2rem;
  line-height: 3.6rem;
  position: relative;
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);
  transition-delay: 0.4s;

  .is-active > & {
    opacity: 1;
    transform: translateY(0);

    @include mob() {
      padding: 0 1.3rem;
    }
  }

  @include mob() {
    font-size: 2rem;
    line-height: 3.2rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.career-main__quote-icon1 {
  width: 3.1rem;
  position: absolute;
  top: -1rem;
  left: -4rem;

  @include mob() {
    width: 1rem;
    top: 0.7rem;
    left: 2.5rem;
  }

  &--2 {
    @include mob() {
      left: 3.5rem;
    }
  }
  &--4 {
    @include mob() {
      left: 1.5rem;
    }
  }
}
.career-main__quote-icon2 {
  width: 2.3rem;
  position: absolute;
  transform: translate(0.5rem, 1.7rem);

  @include mob() {
    transform: translate(0.5rem, 0.7rem);
    width: 1rem;
  }
}
.career-main__person {
  padding-top: 2.4rem;
  font-size: 2rem;
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);
  transition-delay: 0.7s;

  .is-active > & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    padding-top: 1.6rem;
  }

  div {
    padding-top: 0.5rem;
    font-weight: 300;
    font-size: 1.6rem;
    color: #94b2cd;
  }
}
.career-main__tags {
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);
  transition-delay: 1s;
  position: relative;
  width: 100%;

  .is-active & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    display: flex;
    padding: 4rem 0 3.2rem 1.3rem;
    width: 100%;
    overflow-x: scroll;
  }
}
.career-main__tags-title {
  font-size: 2rem;
  padding: 4rem 0 1rem 0;
  font-weight: 300;
  color: #94b2cd;

  @include mob() {
    font-size: 1.4rem;
    padding: 0;
    text-align: left;
    margin-right: 0.8rem;
  }
}
.career-main__tag-wrapper {
  position: relative;
  overflow: hidden;
  transform: translateX(-5rem);

  @include mob() {
    overflow: visible;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    width: 5rem;
    height: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to left, rgba(71, 101, 128, 0), rgba(71, 101, 128, 1));

    @include mob() {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 6rem;
    height: 100%;
    right: 0;
    z-index: 20;
    background: linear-gradient(to right, rgba(66, 96, 124, 0), rgba(73, 100, 128, 1));

    @include mob() {
      display: none;
    }
  }

  &--is-special:after {
    background: linear-gradient(to right, rgba(66, 96, 124, 0), rgba(60, 87, 114, 1));


    @include mob() {
      display: none;
    }
  }

}
.career-main__tags-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: calc(100% + 5rem);
  overflow: hidden;
  padding: 0 5rem 0 5rem;

   li {
     margin-right: 0.4rem;
     background: rgba(148, 178, 205, 0.32);
     border-radius: 8px;
     box-sizing: border-box;
     padding: 0.6rem 1.2rem;
     font-size: 1.6rem;
     color: #ffffff;
     white-space: nowrap;
     font-weight: 300;
   }

  @include mob() {
    padding: 0 0rem 0 5rem;
  }
}
.career-main__buttons {
  display: flex;
  align-items: center;
  padding-top: 3rem;
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);
  transition-delay: 1.3s;

  &--2 {
    transition-delay: 0.8s;
  }

  .is-active & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    flex-direction: column;
  }

  .button--white {
    @include mob() {
      width: 26rem;
      height: 5.6rem;
    }

  }
}
.career-main__link-ico {
  width: 2.4rem;
  display: inline-block;
  vertical-align: middle;

  svg * {
    transition: all 0.4s ease;
  }
}
.career-main__link {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
  margin-left: 3.6rem;
  transition: all 0.4s ease;

  &:hover {
    color: #e3a89f;
  }
  &:hover svg * {
    fill: #E3A89F;
  }

  @include mob() {
    margin: 2.4rem 0 0 0;
    font-size: 1.8rem;
  }
}
.career-main__tab-line-df {
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: $t-default;
}
.is-active .career-main__tab-line-df {
  opacity: 1;
}
.career-main__tab-line {
  position: absolute;
  height: 0.4rem;
  border-radius: 10px;
  bottom: -1.4rem;
  left: 0;
  width: 47%;
  overflow: hidden;
  display: none;

  &--full {
    background: rgba(148, 178, 205, 0.24);
    width: 100%;
  }

  &--2 {
    left: auto;
    right: 0;
  }

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #D0948B;
  }
}
.career-main__tab-line.is-active  {
  display: block;

  span {
    animation: 7s tabline;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
  }
}
.career-main__tab-line.is-active.is-paused {
  span {
    animation-play-state: paused;
  }
}
.career-main__custom-line {
  position: absolute;
  background: rgba(148, 178, 205, 0.24);
  height: 0.4rem;
  border-radius: 10px;
  bottom: -1.4rem;
  left: 0;
  width: 47%;
  overflow: hidden;

  &--2 {
    left: auto;
    right: 0;
  }
}

@keyframes tabline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.career-main__switch {
  position: absolute;
  left: 100%;
  margin-left: 35vw;
  top: 33%;

  @include mob() {
    left: auto;
    right: 20px;
    top: -25rem;
    margin-left: 0;
    width: 8.2rem;
  }
}
.career-main__switch-btn {
  font-weight: 300;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #94b2cd;
  text-align: right;
  margin-bottom: 1rem;
  cursor: pointer;
  position: relative;
  padding-left: 2rem;
  display: flex;
  float: right;
  transition: all 0.3s ease;

  @include mob() {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  &:hover {
    color: #d0948b;
  }

  &.is-active {
    font-weight: 400;
    color: #ffffff;

    &:before {
      content: '';
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      background: #d0948b;
      border-radius: 100px;
      left: 0;
      top: 50%;
      transform: translateY(-40%);
    }
  }
}
.career-main__tag-wrapper--no-fade {
  transform: translateX(-5rem);
}
.career-main__backoffice {
  margin: 0;
  padding-top: 3.8rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.6s ease-out;
  transition-delay: 0.4s;

  .is-active & {
    transform: translateY(0);
    opacity: 1;
  }

  @include mob() {
    flex-direction: column;
    padding: 0 0 3.2rem 0;
  }

  li {
    width: 27.2rem;
    margin: 0 6.6rem;
    list-style-type: none;

    @include mob() {
      width: 100%;
      margin: 0 auto 3.2rem auto;
    }
  }
}
.career-main__text-descr {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.4;
  opacity: 0;
  transform: translateY(2rem);
  transition: all 0.6s ease-out;
  transition-delay: 0.4s;

  .is-active & {
    transform: translateY(0);
    opacity: 1;
  }

  @include mob() {
    font-size: 2rem;
    line-height: 2.8rem;
    padding: 0 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.career-main__backoffice-title {
  color: #E3A89F;
  font-size: 5.6rem;
  line-height: 6.4rem;
  font-family: "CharterITC";
  font-weight: 700;
  padding-bottom: 2.8rem;

  @include mob() {
    font-size: 3.2rem;
    line-height: 4.4rem;
    padding-bottom: 0.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.career-main__df-mob {
  width: 100%;

  @include mob() {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
.career-main__bg-mob {
  position: relative;
  width: 100%;
  height: 46rem;

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 8rem;
    background: linear-gradient(180deg, rgba(71, 101, 128, 0) 0%, #476580 100%);
  }

  img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease;

    &.is-active {
      opacity: 1;
    }
  }
}
.career-main__column--intern {
  @include mob() {
    padding: 4rem 1.3rem 6.4rem 1.3rem;
  }

}
.career-main__mobile-nav-wrapper {
  @include mob() {
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 44rem;
    left: 0;
    padding-bottom: 3rem;
  }
}
.career-main__mobile-title {
  display: none;

  @include mob() {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 4rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 3.2rem;
    color: #94b2cd;
    font-family: 'CharterITC';
    z-index: 10;
    display: block;
  }

}
.career-main__backoffice-button-box {
  .button--white {
    @include mob() {
      height: 4.8rem;
    }
  }
}
.career-main__tags-list li.career-main__list-null {
  background: none;
  width: 6rem;
  display: inline-block;
  vertical-align: middle;

  @include mob() {
    display: none;
  }
}
