.career-edu {
  position: relative;
  width: 100%;
  background: #f4f4f4;
  padding: 8.4rem 0 4rem 0;
  z-index: 100;

  @include mob() {
    padding: 5.6rem 0 4rem 0;
  }
}
.career-edu__title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  padding-bottom: 6.4rem;
  text-align: center;
  color: #476580;

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding-bottom: 3.2rem;
  }
}
.career-edu__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;

  @include mob() {
    flex-direction: column;
    align-items: center;
  }

  li {
    width: 37.2rem;
    margin: 0 1.6rem 8.8rem 1.6rem;
    list-style-type: none;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(1.5rem);

    @include mob() {
      width: 100%;
      padding: 0 5rem;
      margin: 0 0 4rem 0;
      text-align: center;
    }

    .is-visible &:nth-child(1), .is-visible &:nth-child(2), .is-visible &:nth-child(3) {
      opacity: 1;
      transform: translateY(0);
    }
    .is-visible &:nth-child(4), .is-visible &:nth-child(5), .is-visible &:nth-child(6) {
      opacity: 1;
      transition-delay: 0.7s;
      transform: translateY(0);
    }

    @include mob() {
      .is-visible &:nth-child(1) {
        opacity: 1;
        transform: translateY(0);
      }
      .is-visible &:nth-child(2) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.25s;
      }
      .is-visible &:nth-child(3) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s;
      }
      .is-visible &:nth-child(4) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.75s;
      }
      .is-visible &:nth-child(5) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1s;
      }
      .is-visible &:nth-child(6) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 1.25s;
      }
    }
  }
}
.career-edu__item-title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  color: #333333;

  @include mob() {
    font-size: 3.2rem;
  }
}
.career-edu__item-text {
  font-size: 2rem;
  padding-top: 0.8rem;
  color: #757678;
  font-weight: 300;

  @include mob() {
    font-size: 1.8rem;
    padding-top: 0.4rem;
  }
}
