.career-ben {
  position: relative;
  width: 100%;
  height: 54rem;
  padding-top: 8.4rem;
  background: #fff;
  z-index: 100;

  @include mob() {
    padding: 5.6rem 0 3rem 0;
    height: auto;
    width: 100%;
    margin: 0 auto;
  }
}
.career-ben__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  @include mob() {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}
.career-ben__title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  text-align: center;
  color: #fff;
  padding-bottom: 6.4rem;
  position: relative;
  z-index: 10;

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding-bottom: 3rem;
  }
}
.career-ben__list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  position: relative;
  z-index: 10;

  @include mob() {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 0 6rem;
    width: 28rem;
    list-style-type: none;
    opacity: 0;
    transition: all 0.4s ease;
    transform: translateY(1.5rem);
    transition-delay: 0.5s;

    .is-visible & {
      opacity: 1;
      transform: translateY(0);
    }

    @include mob() {
      width: 100%;
      margin: 0 0 4rem 0;
      padding: 0 1.3rem;

      .is-visible &:nth-child(1) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0s;
      }
      .is-visible &:nth-child(2) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.25s;
      }
      .is-visible &:nth-child(3) {
        opacity: 1;
        transform: translateY(0);
        transition-delay: 0.5s;
      }
    }
  }
}
.career-ben__img {
  width: 17.6rem;
  margin: 0 auto;

  @include mob() {
    width: 12rem;
  }
}
.career-ben__text {
  font-family: 'CharterITC';
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4rem;
  text-align: center;
  color: #ffffff;

  @include mob() {
    font-size: 3.2rem;
    line-height: 3.6rem;
    padding-bottom: 0.4rem;
  }
}
.career-ben__button-box {
  padding-top: 4.8rem;
  text-align: center;
}
.career-ben__number {
  width: 3.6rem;
  margin: 0 auto 1.2rem auto;

  @include mob() {
    transform: scale(0.7);
    margin-bottom: 0.8rem;
  }

  &--1 {
    svg {
      width: 0.7rem;
    }
  }
  &--2 {
    svg {
      width: 1.3rem;
    }
  }
  &--3 {
    svg {
      width: 1.1rem;
    }
  }
}
.career-ben__descr {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3.2rem;
  color: #ffffff;
  padding-top: 0.8rem;
  text-align: center;

  @include mob() {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
