.career-about {
  position: relative;
  width: 100%;
  height: 100vh;
  color: #ffffff;
  background: #476580;
  z-index: 100;

  @include mob() {
    height: auto;
  }
  /*@include mob() {
    display: none;
  }*/
}
.career-about__nav {
  position: absolute;
  top: 9.6rem;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 20;
  display: none;

  li {
    list-style-type: none;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 1;
    margin: 0 2rem;
    cursor: pointer;
    position: relative;

    @include mob() {
      font-size: 2rem;
      margin: 0 1rem;
      white-space: nowrap;
      flex-shrink: 0;
    }
  }

  @include mob() {
    position: relative;
    top: auto;
    left: auto;
    padding-left: 0.3rem;
    width: 120vw;
    justify-content: flex-start;
  }
}
.career-about.is-visible .career-about__nav {
  display: flex;
}
.career-about__box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  @include mob() {
    flex-direction: column-reverse;
    height: auto;
  }
}
.career-about__text-block {
  width: 50%;
  flex-shrink: 0;
  height: 100%;
  position: relative;

  @include mob() {
    width: 100%;
    height: auto;
    min-height: 30rem;
    text-align: center;
  }
}
.career-about__tab-wrap1 {
  @include mob() {
    position: relative;
    height: 38.5rem;
    display: none;

    &.is-active {
      display: block;
    }
  }

}
.career-about__tab-wrap2 {
  @include mob() {
    position: relative;
    height: 39.5rem;
    display: none;

    &.is-active {
      display: block;
    }
  }
}
.career-about__tab-wrap3 {
  @include mob() {
    position: relative;
    height: 39rem;
    display: none;

    &.is-active {
      display: block;
    }
  }
}
.career-about__tab-wrap4 {
  @include mob() {
    position: relative;
    height: 42rem;
    display: none;

    &.is-active {
      display: block;
    }
  }
}
.career-about__tab-wrap5 {
  @include mob() {
    position: relative;
    height: 33rem;
    display: none;

    &.is-active {
      display: block;
    }
  }
}


.career-about__img {
  width: 50%;
  flex-shrink: 0;
  height: 100%;
  position: relative;
  overflow: hidden;

  @include mob() {
    width: 100%;
    height: 100vw;
  }
  &:after {
    content: '';
    position: absolute;
    width: 150%;
    height: 150%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, rgba(0, 0, 1, 0.48) 0%, rgba(0, 0, 1, 0.72) 100%);
    opacity: 0.24;

    @include mob() {
      height: 8rem;
      bottom: 0;
      top: auto;
      opacity: 1;
      background: linear-gradient(180deg, rgba(71, 101, 128, 0) 0%, #476580 100%);
    }
  }

  img {
    opacity: 0;
    transition: transform 1.75s ease, opacity 1.5s ease;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &.is-active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1.15);
    }

    @include mob() {

    }
  }
}
.career-about__item-title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  padding-bottom: 1.6rem;
  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);

  .is-active > & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    font-size: 2.8rem;
    line-height: 3.6rem;
    padding-top: 4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}


.career-about__item-text {
  font-weight: 300;
  font-size: 2rem;
  line-height: 1.6;

  opacity: 0;
  transition: all 0.6s ease-out;
  transform: translateY(2rem);
  transition-delay: 0.6s;

  .is-active > & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    font-size: 1.8rem;
    line-height: 2.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.career-about__tab {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  padding: 0 7.2rem 0 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &.is-active {
    opacity: 1;
  }

  @include mob() {
    padding: 0 1.3rem;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}
.career-about__tab-line {
  position: absolute;
  background: rgba(148, 178, 205, 0.24);
  height: 0.4rem;
  border-radius: 10px;
  bottom: -1.4rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  display: none;

  span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #D0948B;
  }
}
.is-active .career-about__tab-line {
  display: block;

  span {
    animation: 6s tabline;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
  }
}
.is-active.is-paused .career-about__tab-line {
  span {
    animation-play-state: paused;
  }
}


@keyframes tabline {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.career-about__mobile-nav-wrapper {
  @include mob() {
    width: 100%;
    overflow: auto;
    position: absolute;
    top: 90vw;
    left: 0;
    padding-bottom: 3rem;
  }
}
