.career-why {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 100;

  @include mob() {
    height: auto;
  }
}
.career-why__bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #235570;
  overflow: hidden;

  @include mob() {
    position: relative;
    transform: none;
    top: auto;
    left: auto;
    width: 100%;
    height: auto;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    height: 100%;
    transition: all 0.75s ease;

    .is-visible & {
      transform: translate(-50%, -50%) scale(1);

      @include mob() {
        transform: none;
      }
    }

    @include mob() {
      position: relative;
      transform: none;
      top: auto;
      left: auto;
      height: auto;
      width: 100%;
    }
  }
}
.career-why__column {
  text-align: center;
  height: 100%;
  position: relative;
  color: #ffffff;
  opacity: 0;
  transform: translateY(3rem);
  transition: all 0.5s ease;

  .is-visible & {
    opacity: 1;
    transform: translateY(0);
  }

  @include mob() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.career-why__title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.2;
  padding: 9.6rem 0 1.6rem 0;

  @include mob() {
    font-size: 2.8rem;
    padding: 5.6rem 0 1.2rem 0;
  }
}
.career-why__descr {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.5;
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 4.3rem;

  @include mob() {
    font-size: 1.7rem;
    padding: 0 1.3rem;
  }
}
.career-why__overlay {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #245572;
  opacity: 0.5;
  transition: all 0.5s ease;

  &.is-visible {
    opacity: 0;
  }
}
