.career-team {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  background: #ffffff;
  z-index: 100;

  @include mob() {
    flex-direction: column;
    align-items: center;
  }
}
.career-team__zoom svg *, .career-team__zoom svg {
  transition: all 0.4s ease;
}
.career-team__item {
  width: calc(33.33% - 1.1rem);
  position: relative;
  transition: all 0.4s ease;
  cursor: pointer;

  @include mob() {
    width: 100%;
    margin-bottom: 1.2rem;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(208, 148, 139, 0.72) 0%, rgba(208, 148, 139, 0.96) 100%);
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 10;
  }
  &:hover:after {
    opacity: 1;
  }

  &:hover .career-team__zoom svg *, &:hover .career-team__zoom svg{
    fill: #fff;
  }
}
.career-team__img {
  width: 100%;
  position: relative;
  transition: all 0.4s ease;
  overflow: hidden;

  img {
    transition: all 0.4s ease;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 1, 0.2) 0%, rgba(0, 0, 1, 0.6) 100%);
  }

  .career-team__item:hover & img {
    transform: scale(1.05);
  }

}
.career-team__item-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  left: 0;
  text-align: center;
  font-family: 'CharterITC';
  color: #ffffff;
  font-weight: 700;
  font-size: 3.2rem;
  z-index: 20;
  transition: all 0.4s ease;

  .career-team__item:hover & {
    transform: translateY(-50%) scale(1.05);
  }
}
.career-team__zoom {
  position: absolute;
  top: 2.6rem;
  right: 2.6rem;
  width: 2rem;
  z-index: 20;
}
