body {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.is-locked {

  }
}
.career-app {
  position: relative;
  width: 100%;
  overflow-x: hidden;

  @include mob() {
    overflow: hidden;
  }
}
.img-w {

  & > img {
    width: 100%;
  }

  & > svg {
    width: 100%;
  }
}

.mobile-hidden {
  @include mob() {
    display: none !important;
  }
}

.mobile-visible {
  display: none;

  @include mob() {
    display: block;
  }
}

.button {
  @include button-reset;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &--blue, &--pink {
    background: #94b2cd;
    color: #000001;
    font-weight: 400;
    font-size: 2rem;
    padding: 2rem 3.2rem;
    border-radius: 50rem;
    transition: all 0.3s ease;

    &:hover {
      background: #a0c7e2;
    }

    @include mob() {
      padding: 0 2.4rem;
      font-size: 1.8rem;
      height: 5.6rem;
    }
  }

  &--pink {
    background: $pink;
    color: #ffffff;

    &:hover {
      background: $pink-light;
    }
  }

  &--white {
    background: #fff;
    color: #000001;
    font-weight: 400;
    font-size: 2rem;
    padding: 2rem 3.2rem;
    border-radius: 50rem;
    transition: all 0.3s ease;

    &:hover {
      background: $pink-light;
      color: #ffffff;
    }

    @include mob() {
      padding: 0 2.4rem;
      font-size: 1.8rem;
      height: 5.6rem;
    }
  }
}
.s-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  height: 120px;
  background: #ffffff;

  img {
    height: 100%;
    margin: 0 auto;
  }

  @include mob() {
    background: none;
    height: auto;

    img {
      width: 100%;
      height: auto;
    }
  }
}
.s-footer {
  width: 100%;
  padding-top: 5rem;
  background: #ffffff;
  position: relative;
  z-index: 100;
}
.tooltip {
  position: relative;
  cursor: pointer;
}
.tooltip__text {
  color: $pink;
  border-bottom: 1px dashed $pink;
  transition: $t-default;

  &:hover, &.is-visible {
    color: #e3a89f;
  }

  &--pink {
    border: 0;
  }
}
.tooltip:hover .tooltip__text, .tooltip.is-visible .tooltip__text{
  border-bottom-color: transparent;
}
.tooltip__icon {
  display: inline-block;
  width: 1.6rem;
  position: relative;
  margin-left: 0.2rem;
  vertical-align: middle;
  line-height: 1;

  svg {
    width: 100%;
    vertical-align: middle;
  }
}
.tooltip--pink .tooltip__icon {
  width: 2.4rem;
  transform: translateY(-0.8rem);

  @include mob() {
    width: 2rem;
    transform: none;
  }
}
.tip {
  position: absolute;
  left: 100%;
  top: 150%;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 1.2;
  background: #ffffff;
  box-shadow: 0px 4px 16px rgba(51, 51, 51, 0.24);
  border-radius: 8px;
  padding: 0.8rem 0.8rem 0.8rem 3.2rem;
  width: 24rem;
  color: #000000;
  font-family: "Roboto Condensed";
  text-align: left;
  opacity: 0;
  transform: translateY(1rem);
  transition: $t-default;

  &--pink {
    left: 0%;
    color: #000000;
    top: 120%;
  }

  @include mob() {
    left: 0;
  }
}


.tip__icon {
  position: absolute;
  width: 1.6rem;
  left: 0.8rem;
  top: 0.8rem;

  svg {
    width: 100%;
  }
}
.tooltip:hover .tip, .tooltip.is-visible .tip {
  opacity: 1;
  transform: translateY(0);
}
