.gallery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.96);
  z-index: 10000;
  padding: 0 2.4rem;
  display: none;

  &.is-visible {
    opacity: 1;
    z-index: 10000;
  }
}
.gallery__close {
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  width: 2.2rem;
  cursor: pointer;
  z-index: 10;

  svg {
    width: 100%;
  }
}
.gallery__photo {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0;
  padding: 2.4rem 0;
  width: 100%;
  text-align: center;
  box-sizing: border-box;

  @include mob() {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    height: calc(100% - 4.8rem);
    opacity: 0;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease;

    @include mob() {
      height: auto;
      width: 100%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &.is-visible {
      opacity: 1;
    }
  }

}
.gallery__next, .gallery__prev {
  width: 3.2rem;
  position: absolute;
  top: 50%;
  left: 2.4rem;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover svg * {
    fill: #E3A89F;
  }
}
.gallery__next {
  left: auto;
  right: 2.4rem;
}
.gallery__info {
  position: absolute;
  z-index: 20;
  bottom: 4rem;
  width: 100%;
  left: 0;
}
.gallery__title {
  font-family: "CharterITC";
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
  color: #ffffff;
}
.gallery__pagination {
  font-weight: 400;
  color: #F4F4F4;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
}
