.kv {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: 10;

  @include mob() {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}
.kv__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;

  @include mob() {
    height: 100vh;
    max-height: -webkit-fill-available;
  }
}
.kv__fade-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,1);
  opacity: 0;
  transition: all 0.3s ease;
}
.kv__bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000;

  img, video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
  }
}
.kv__eye {
  position: absolute;
  top: 20.7vh;
  left: 50%;
  width: 48rem;
  transform: translateX(-50%);

  img {
    width: 100%;
  }
}
.kv__title {
  font-family: 'CharterITC';
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 1.2;
  padding: 0 0 1.6rem 0;
  padding-top: calc(120px + 3rem);

  @include mob() {
    font-size: 3.6rem;
    padding: 5.5rem 0 0.4rem 0;
  }
}
.kv__column {
  position: relative;
  text-align: center;
  color: #ffffff;
  height: 100%;
  transition: transform 0.5s ease, opacity 0.3s ease;

  &.is-out {
    transform: scale(0.95);
  }
}
.kv__scroll-icon {
  width: 1.2rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5rem;
  animation: scrollup 1.5s infinite;
}
@keyframes scrollup {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 0.3rem);
  }

  100% {
    transform: translate(0, 0);
  }
}
.kv__text1 {
  padding: 16.8rem 0 1.2rem 0;
  font-size: 1.4rem;
  font-weight: 300;

  @include mob() {
    font-size: 1.2rem;
    padding: 10rem 0 0.4rem 0;
  }
}
.kv__text2 {
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1;

  @include mob() {
    font-size: 2rem;
  }
}
.kv__descr {
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.5;
  max-width: 50rem;
  margin: 0 auto;
  padding-bottom: 4.4rem;

  &--wide {
    max-width: 58rem;
  }

  @include mob() {
    font-size: 2rem;
    padding-bottom: 3rem;
  }
}
.kv__button-box {
  text-align: center;
}
.kv__scroll {
  position: absolute;
  bottom: 4.8rem;
  font-size: 1.6rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;

  @include mob() {
    font-size: 1.4rem;
    bottom: 4.8rem;
    width: 100%;
    transform: none;
    left: 0;
    text-align: center;
  }
  @include mob() {
    transform: none;
    bottom: 5.8rem;
  }
}
.kv__main-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include mob() {
    width: 100%;
  }
}
